<div class="gitcus" id="gitcus_container">
    <script src="https://giscus.app/client.js"
        data-repo="6unoyunr/comments"
        data-repo-id="R_kgDOODmwzQ"
        data-category="General"
        data-category-id="DIC_kwDOODmwzc4Cn5wD"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ko"
        crossorigin="anonymous"
        async>
    </script>
</div>