<input id="darkmode_switch" class="mh_toogle" type="checkbox">
<label for="darkmode_switch" class="material-icons-sharp mh_toggle_btn"></label>

<!-- Bulma Navbar JS -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        /* Get all "navbar-burger" elements */
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        /* Check if there are any navbar burgers */
        if ($navbarBurgers.length > 0) {
            /* Add a click event on each of them */
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    /* Get the target from the "data-target" attribute */
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    /* Toggle the class on both the "navbar-burger" and the "navbar-menu" */
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>

<script>
    function changeGiscusTheme () {
        const gitcus_theme = localStorage.theme === 'dark' ? 'dark' : 'light';
        function sendMessage(message) {
        const iframe = document.querySelector('iframe.giscus-frame');
        if (!iframe) return;
            iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
        }
        sendMessage({
            setConfig: {
                theme: gitcus_theme
            }
        });
    }
    /* 스타일 파일들 */
    const defaultTheme = [...document.styleSheets].find(style => /(style.css)$/.test(style.href));
    const darkTheme = [...document.styleSheets].find(style => /(style_dark.css)$/.test(style.href));

    /* 스위치, 현재 테마 상태 불러오기 */
    let mode = document.getElementById("darkmode_switch");
    const current = localStorage.theme;

    /* 기존 상태에 따라 스위치 체크해주기 */
    mode.checked = current === 'dark';
    changeGiscusTheme();

    /* 체크된 거에 따라서 스타일 지정해주기 */
    darkTheme.disabled = mode.checked !== true;
    defaultTheme.disabled = mode.checked === true;

    /* 토글 이벤트 리스너 */
    mode.addEventListener('click', function(){
        localStorage.theme = mode.checked ? 'dark' : 'light';
        darkTheme.disabled = mode.checked !== true;
        defaultTheme.disabled = mode.checked === true;
        changeGiscusTheme();
    });
</script>